.landing-page{
	/*background-color: green;*/
	background-image: url("../img/sf-apt.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

div.text-branding{
	color: white;
	margin-top: 10%;
	font-size: 60px;
	font-size: 5vw;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navbar-background{
	background: rgba(0,0,0,0.0);
	border-color: rgba(0,0,0,0.0);
}

.navbar-tenant{
	background: #CC0052;
	border-color: rgba(255,255,255,1);
}

.tenant-menu{
	color: gray;
}

.brand-size{
	color: white;
	font-size: 30px;
	margin-top: 15px;
}

.brand-tenant{
	color: gray;
	font-size: 30px;
	margin-top: 15px;
}

.search-bar{
	margin-top: 20%;
}

#listing{
	border:3px solid white;  
}

.navbar-default .navbar-nav>li{
	margin-top: 10px;
	margin-left: 10px;
}
.navbar-default .navbar-nav>li>a{
	font-size: 14px;
	color: white;
}

}
.navbar-default .navbar-nav .tenant-menu>li>a{
	font-size: 14px;
	color: gray;
}


.how-it-works{
	width: 150px;
	height: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 40px;
	background-color: gray;
	color: white;
	font-weight: 700;
	opacity: 0.8;	
	color: white;
}

.red-button{
	background-color: #E50046;
};

.red-button:hover{
	background-color: #E50046;
	opacity: 0.9; 
};

.explanation-page{
	position: absolute;
	display: block;
	background-color: red;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 2000px;
	width: 100%;
};

.how-it-works-content{
	height: 2000px;
	width: 500px;
	position: absolute;
	display: block;
	background-color: red;
}

#white-link{
	color: white;
}

#white-link:hover{
	color: white;
	opacity: 0.9; 
	text-decoration: none;
}

/* ------------ tenant.html css -------------*/


#myCarousel{
	position: absolute;
	margin-top: 0%;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: 60%;
}

.button-container{
	position: fixed;
	right: 0;
	bottom: 0;
	height: 10%;
	width: 100%;	
	background-color: #eeeeee;
}

.glyphicon-remove {
    font-size: 40px;
}

.glyphicon-heart {
    font-size: 40px;
}

.glyphicon-user{
	float: right;
}

.glyphicon-calendar{
	float: right;
}

#like-button{
	width: 80px;
	position: fixed;
	right: 10%;
	bottom: 0;	
}


#dislike-button{
	width: 80px;
	position: fixed;
	left: 10%;
	bottom: 0;	
}

.popup-btn{
	display: block;
	margin-top: 20px;
	width: 200px;
	height: 50px;
}

.display-area{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80%;
}


.tabContent{
	width: 100%;
	height: 100%;
	display: none;
}

#photos{
	display: block;
}


