<!DOCTYPE html>
<html>
<head>
    <title>Accurent</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/customized.css">
    <link rel="stylesheet" href="/css/simple-sidebar.css">
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/image-gallery.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
  <div>
    <form action="/save_tsettings/" method="post">
      WHERE YOU WANT TO LIVE? <input type="text" /><br />
      HOW MANY BEDS YOU WANT? <input type="number" name="beds" min="0" max="25" /><br />
      HOW MANY BATHS YOU WANT? <input type="number" name="baths" min="0" max="25" /><br />
      HOW MANY SQUARE FEET YOU WANT? <input type="number" name="sqft" min="0" max="1000000" /><br />
      HOW FUCKING POOR ARE YOU? <input type="number" name="poor" min="0" max="100000000" /><br />
      HOW FUCKING RICH ARE YOU? <input type="number" name="rich" min="1" max="100000000" /><br />
      WHAT STUPID FEATURES DO YOU WANT?<br />
      <input type="checkbox" name="car" /> Garage<br />
      <input type="checkbox" name="grass" /> Yard<br />
      <input type="checkbox" name="fire" /> Fireplace<br />
      <input type="checkbox" name="emohut" /> Basement<br />
      <input type="checkbox" name="emohut_2" /> Attic<br />
      <input type='submit' value='SAVE' />
    </form>
  </div>
</body>
</html>